VITE_MAPTILER_KEY=YCKX2ukadzz48kPBnfcK
VITE_SUPABASE_URL=https://ihmadvmoenkxanoxrwcy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlobWFkdm1vZW5reGFub3hyd2N5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxODQ3MjMsImV4cCI6MjEwNDc2MDcyM30.HpfiPz109PrkWSRNe-7ooepibPjNhl-uv25L5jnMU_w
